<div class="new-page">



<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="new-plans-title"> New Plans</h1>



<div class="new-form">
  <form id="new-form" action="/planners" method="POST">
    <label>New Appointment:</label>
    <input type="text" name="title" placeholder="Enter new plans here"> 
    <label>Date: </label>
    <input type="date" name="date">
    <label>Time: </label>
    <select name="time">
      <option value="10:30">10:30</option>
      <option value="11:00">11:00</option>
      <option value="11:30">11:30</option>
      <option value="12:00">12:00</option>
    </select>
  
    <input type="submit" value="Add Appointment">
  </form>
</div>

</body>
</html>
  <%- include('../partials/footer') %>
</div>