
<div class="homepage-bg">


<%- include('./partials/header') %>


<% if (user) { %>
    <h3 class="user-welcome">Welcome <%= user.name %></h3>
   
<% } else { %>
    <h2 class="guest-welcome">Welcome Guest</h2>
   
<% } %>


<%- include('./partials/footer') %>
</div>